.media {
  margin: 40px;
}
.media-body p {
  text-align: justify;
  width: 95%;
}
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 4rem;
  height: 4rem;
}
.panel-group {
  margin: 55px;
}
#loading-img {
  display: none;
}
.response_msg {
  margin-top: 10px;
  font-size: 13px;
  color: #ffffff;
  width: 250px;
  padding: 3px;
  display: none;

}
